
.nav-panel{
    position:fixed;
    height:4rem;
    width:100vw;
    padding:1rem;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
    background:var(--body-bg);
}

.nav-panel .nav-logo{
    position: fixed;
    left:1rem;
    top:1rem;
    font-size: 1.8rem;
    font-family: 'Anton',serif;
    text-decoration: none;
    color:var(--blue);
}

.nav-panel button{
    font-size: 1rem;
    margin:0 1rem;
    outline:none;
    border:none;
    border-radius: 15px;
    padding:10px 1rem;
    background:var(--blue);
    color:white;
    cursor: pointer;
}

@media screen and (max-width:650px){
    .nav-panel .nav-logo{
        font-size: 1.6rem;
    }
    .nav-panel button{
        padding:8px 1rem;
    }
}
@media screen and (max-width:500px){
    .nav-panel .nav-logo{
        font-size: 1.2rem;
    }
    .nav-panel button{
        padding:8px 10px;
        font-size: 0.8rem;
    }
}