form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}


.backButton{
  position: absolute;
  top: 10px;
  right: auto;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:focus{
  outline: none;
}

.logout{
  background-color: tomato;
}

.login{
  background-color: teal;
  margin-right: 10px;
}

.register{
  background-color: slateblue;
}